<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>Fop PDF</title>
		<meta th:substituteby="commons :: common-css"></meta>
		<link rel="stylesheet" type="text/css" th:href="@{/css/map/map.css}"/>
	</head>
	<body>
		<!-- side nav -->
		<span th:substituteby="commons :: side-nav"></span>

		<div class="container">
			<div class="col-md-12">
				<h1 align="center">Google Map</h1>
				<hr/>
				<div class="col-md-12 map">
					<div id="map"></div>
				</div>
			</div>
		</div>

		<span th:substituteby="commons :: common-copyright"></span>

		<!-- JS -->
		<span th:substituteby="commons :: common-js"></span>
		<script th:src="${'//maps.googleapis.com/maps/api/js?key=AIzaSyDwYA41PYl-jicwidzutPclA_QdpC8wNyE'}"></script>
		<script type="text/javascript" th:src="@{/js/map/mapcluster.js}"></script>
		<script src="http://cdn.sobekrepository.org/includes/gmaps-markerwithlabel/1.9.1/gmaps-markerwithlabel-1.9.1.js"></script>
		<script type="text/javascript" th:src="@{/js/map/map.js}"></script>
		<script th:src="${'//maps.googleapis.com/maps/api/js?key=AIzaSyDJwDIbC8J7bn318YwbeOvWUt7NQor-08E'}"></script>
	</body>
</html>