<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>Fop PDF</title>
		<meta th:substituteby="commons :: common-css"></meta>
	</head>
	<body>
		<!-- side nav -->
		<span th:substituteby="commons :: side-nav"></span>

		<div class="container">
			<div class="col-md-12">
				<h1 align="center">Google Map</h1>
				<hr/>
				<div class="col-md-12 map">
					<div id="map"></div>
				</div>
			</div>
		</div>

		<span th:substituteby="commons :: common-copyright"></span>

		<span th:substituteby="commons :: common-js"></span>
		<script type="text/javascript" th:src="@{/js/map/mapcluster.js}"></script>
		<script type="text/javascript" th:src="@{/js/map/map.js}"></script>
		<script th:src="${'//maps.googleapis.com/maps/api/js?key=AIzaSyDjoSHgDlrlj0ARkwjWe55FlkRtVUsQ-Rc'}" async="async" defer="defer"></script>
		<div id="map"></div>
	</body>
</html>